In [1]:
# Problem 1: Unique Words in a Sentence

sentence = input("Enter sentence: ")

# Split sentence into words and convert to set
words = sentence.split()
unique_words = set(words)

# Display results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: hi I'm vishwa
Unique words count: 3
Unique words: {'hi', "I'm", 'vishwa'}

In [2]:
# Problem 2: Highest Salary from Employee Data

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [3]:
# Problem 3: Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
# Problem 4: Count Products Above Price Threshold

prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [5]:
# Problem 5: Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present_count = attendance.count("P")
total_days = len(attendance)

attendance_percentage = (present_count / total_days) * 100

print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

In [6]:
# Problem 6: Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
# Problem 7: Count Character Frequency

text = "python"

char_frequency = {}

for char in text:
    if char in char_frequency:
        char_frequency[char] += 1
    else:
        char_frequency[char] = 1

print(char_frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
# Problem 8: Convert List to Tuple

numbers_list = [10, 20, 30]

numbers_tuple = tuple(numbers_list)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [9]:
# Problem 9: Check if Key Exists in Dictionary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
# Problem 10: Calculate Average Marks

marks = [70, 80, 65, 75]

total = sum(marks)
count = len(marks)

average = total / count

print("Average Marks:", average)

Average Marks: 72.5